Repository hmcts/ts-translation-service, pull requests merged in 2022-06, with the labels that each got.

#44 WLTS-25: Integration tests for new PUT /dictionary endpoint
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/translate/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerIT.java
  src/integrationTest/resources/sql/get-Dictionary_And_TranslationUploads.sql
  src/integrationTest/resources/sql/get-Dictionary_WithDuplicateEnglishPhrases.sql
  src/integrationTest/resources/sql/put-create-Dictionary_EnglishPhrases.sql
  src/main/java/uk/gov/hmcts/reform/translate/ApplicationParams.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-44

#39 Smoke test patch
  build.gradle
  src/functionalTest/resources/DummyTest.xml
  src/main/resources/application.yaml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-39

#42 Feature/wlts 16 f ts translation cy
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/translate/CustomValueEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/CustomValueKey.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/DictionaryTranslationsEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/GetTranslationsEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/UniqueStringEvaluator.java
  src/functionalTest/resources/features/F-003 - Request Translations/F-003.feature
  src/functionalTest/resources/features/F-003 - Request Translations/F-003_Get_Dictionary.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/F-003_Put_Dictionary.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.1.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.2.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.3.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.4.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.5.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/translate/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepositoryIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/repository/TranslationUploadRepositoryIT.java
  src/integrationTest/resources/sql/add-Dictionary.sql
  src/main/java/uk/gov/hmcts/reform/translate/controllers/DictionaryController.java
  src/main/java/uk/gov/hmcts/reform/translate/data/DictionaryEntity.java
  src/main/java/uk/gov/hmcts/reform/translate/data/TranslationUploadEntity.java
  src/main/java/uk/gov/hmcts/reform/translate/model/ControllerConstants.java
  src/main/java/uk/gov/hmcts/reform/translate/model/TranslationsRequest.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/TranslationUploadRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/service/DictionaryService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20220527_24__WLTS-24-AddUniqueConstraintTo-Dictionary-EnglishPhrase.sql
  src/test/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-42

#49 WLTS-17 Functional Tests for the new PUT /dictionary endpoint
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/translate/StringGenerator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/ContainsDictionaryTranslationsEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/CustomValueEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/CustomValueKey.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/GetTranslationsEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/GetVerifyPhrasesFromParentContextEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/GetVerifyTranslationResponseFromParentContextEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/UniqueStringEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/UniqueTranslationWithEnglishAndWelshEvaluator.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/custom/value/UniqueTranslationWithOnlyEnglishEvaluator.java
  src/functionalTest/resources/features/F-002 - Put Dictionary/F-002.feature
  src/functionalTest/resources/features/F-002 - Put Dictionary/F-002_Verify.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.1.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.2.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.2_Existing_Data.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.3.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.4.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.5.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.6.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.7.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.8.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.8_Existing_Data.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.9.td.json
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-49

#55 WLTS-17 FT Patch
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.8.td.json
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-55

#53 CCD-3387 Remove CVE Suppress Until Date from All Services
  config/owasp/suppressions.xml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-53

#51 WLTS-27 - Exception handler to present consistent error responses
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.2.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.4.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.5.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.6.td.json
  src/functionalTest/resources/features/F-002 - Put Dictionary/S-002.7.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.4.td.json
  src/main/java/uk/gov/hmcts/reform/translate/controllers/DictionaryController.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/ApiException.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/BadRequestError.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/HttpError.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/RequestErrorException.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/RoleMissingException.java
  src/main/java/uk/gov/hmcts/reform/translate/model/TranslationsRequest.java
  src/main/java/uk/gov/hmcts/reform/translate/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/translate/service/DictionaryService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/translate/errorhandling/HttpErrorTest.java
  src/test/java/uk/gov/hmcts/reform/translate/errorhandling/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/translate/service/DictionaryServiceTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-51

#54 WLTS-33 - Update Swagger config
  .github/workflows/swagger.yml
  README.md
  src/main/java/uk/gov/hmcts/reform/translate/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/translate/controllers/DictionaryController.java
  src/main/java/uk/gov/hmcts/reform/translate/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/AuthError.java
  src/main/java/uk/gov/hmcts/reform/translate/model/Dictionary.java
  src/main/java/uk/gov/hmcts/reform/translate/model/TranslationsRequest.java
  src/main/java/uk/gov/hmcts/reform/translate/security/SecurityUtils.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-54

#58 CCD-3248 Monthly Review of All Security Flags - Commented out all sup…
  config/owasp/suppressions.xml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-58
