Repository hmcts/ts-translation-service, pull requests merged in 2022-08, with the labels that each got.

#60 WLTS-31 clear down of test data generated by FTAs
  charts/ts-translation-service/Chart.yaml
  charts/ts-translation-service/values.aat.template.yaml
  charts/ts-translation-service/values.preview.template.yaml
  charts/ts-translation-service/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/translate/EmptyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestDataLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/translate/customvalue/EvaluatorUtils.java
  src/functionalTest/resources/features/F-001 - Get Dictionary/F-001_Put_Dictionary_Entries.td.json
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.1.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/translate/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/EmptyIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/RootControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/TestingSupportControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepositoryIT.java
  src/integrationTest/resources/sql/add-Dictionary_TestPhrasesForDeletion.sql
  src/main/java/uk/gov/hmcts/reform/translate/controllers/ControllerConstants.java
  src/main/java/uk/gov/hmcts/reform/translate/controllers/DictionaryController.java
  src/main/java/uk/gov/hmcts/reform/translate/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/translate/data/DictionaryEntity.java
  src/main/java/uk/gov/hmcts/reform/translate/model/ControllerConstants.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/security/filter/PutDictionaryEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/translate/security/filter/TranslateCyEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/translate/service/DictionaryService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/translate/controllers/BaseControllerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/controllers/TestingSupportControllerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/errorhandling/HttpErrorTest.java
  src/test/java/uk/gov/hmcts/reform/translate/errorhandling/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/helper/DictionaryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/translate/security/filter/PutDictionaryEndpointFilterTest.java
  src/test/java/uk/gov/hmcts/reform/translate/security/filter/TranslateCyEndpointFilterTest.java
  src/test/java/uk/gov/hmcts/reform/translate/service/DictionaryServiceTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-60

#78 WLTS-43 Retry Get and Put services on conflict
  build.gradle
  src/functionalTest/resources/features/F-003 - Request Translations/F-003_Get_Dictionary.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/F-003_Put_Dictionary.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.1.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.2.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.3.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.5.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.6.td.json
  src/functionalTest/resources/features/F-003 - Request Translations/S-003.7.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/translate/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/controllers/TestingSupportControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepositoryIT.java
  src/main/java/uk/gov/hmcts/reform/translate/Application.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/ApiException.java
  src/main/java/uk/gov/hmcts/reform/translate/errorhandling/EnglishPhraseUniqueConstraintException.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/DefaultDictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/JpaDictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/service/DictionaryService.java
  src/test/java/uk/gov/hmcts/reform/translate/errorhandling/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/repository/DefaultDictionaryRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/translate/service/DictionaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/translate/service/DictionaryServiceWithRetryEnabledTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-78

#87 WLTS-44: Temporarily suppress CVE-2022-31197
  config/owasp/suppressions.xml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-87

#96 Add backstage configuration file
  catalog-info.yaml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-96
