Repository hmcts/ts-translation-service, pull requests merged in 2022-05, with the labels that each got.

#10 WLTS-12 Add initial libraries
  build.gradle
  charts/ts-translation-service/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestAutomationAdapter.java
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/translate/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/util/KeyGenerator.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/wiremock/config/WireMockTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/wiremock/extensions/AbstractDynamicResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/wiremock/extensions/CustomisedResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/translate/wiremock/extensions/DynamicOAuthJwkSetResponseTransformer.java
  src/integrationTest/resources/application-itest.yml
  src/integrationTest/resources/wiremock-stubs/oauth-jwk-set.json
  src/integrationTest/resources/wiremock-stubs/openid_config.json
  src/integrationTest/resources/wiremock-stubs/s2s_lease.json
  src/integrationTest/resources/wiremock-stubs/user_info.json
  src/main/java/uk/gov/hmcts/reform/translate/config/AuthClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/translate/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/translate/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/translate/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/translate/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/translate/security/idam/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/translate/TestIdamConfiguration.java
  src/test/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/translate/security/SecurityUtilsTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-10

#16 WLTS-14 - Add s2s vault resources
  infrastructure/main.tf
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-16

#20 WLTS-14 - read S2S secret from preview vault
  charts/ts-translation-service/values.preview.template.yaml
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-20

#12 Wlts 4
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/translate/controllers/DictionaryController.java
  src/main/java/uk/gov/hmcts/reform/translate/data/DictionaryEntity.java
  src/main/java/uk/gov/hmcts/reform/translate/data/TranslationUploadEntity.java
  src/main/java/uk/gov/hmcts/reform/translate/helper/DictionaryMapper.java
  src/main/java/uk/gov/hmcts/reform/translate/model/Dictionary.java
  src/main/java/uk/gov/hmcts/reform/translate/repository/DictionaryRepository.java
  src/main/java/uk/gov/hmcts/reform/translate/service/DictionaryService.java
  src/test/java/uk/gov/hmcts/reform/translate/controllers/DictionaryControllerTest.java
  src/test/java/uk/gov/hmcts/reform/translate/helper/DictionaryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/translate/service/DictionaryServiceTest.java
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-12

#32 WLTS-5 FT
  Jenkinsfile_CNP
  src/functionalTest/resources/features/F-001 - Get Dictionary/F-001.feature
  src/functionalTest/resources/features/F-001 - Get Dictionary/F-001_Put_Dictionary_Entries.td.json
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.1.td.json
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.2.td.json
  src/functionalTest/resources/features/common/PutDictionaryOperation.td.json
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-32

#35 WLTS-18 - custom behaviour to check subset of dictionary results
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/translate/TranslationServiceTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001 - Get Dictionary/F-001.feature
  src/functionalTest/resources/features/F-001 - Get Dictionary/F-001_Put_Dictionary_Entries.td.json
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.1.td.json
  src/functionalTest/resources/features/F-001 - Get Dictionary/S-001.2.td.json
  src/functionalTest/resources/features/common/ts_endpoints/Get_Dictionary_Base.td.json
  src/functionalTest/resources/features/common/ts_endpoints/Put_Dictionary_Base.td.json
Labels: ns:ts, prd:ts, rel:ts-translation-service-pr-35
